@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?elzbll');
  src:  url('fonts/icomoon.eot?elzbll#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?elzbll') format('truetype'),
    url('fonts/icomoon.woff?elzbll') format('woff'),
    url('fonts/icomoon.svg?elzbll#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-document-file-css:before {
  content: "\e901";
}
.icon-javascript:before {
  content: "\e913";
  color: #f7df1e;
}
.icon-html5:before {
  content: "\e902";
  color: #e34f26;
}
.icon-home:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e903";
}
.icon-home3:before {
  content: "\e904";
}
.icon-office:before {
  content: "\e905";
}
.icon-newspaper:before {
  content: "\e906";
}
.icon-pencil:before {
  content: "\e907";
}
.icon-pencil2:before {
  content: "\e908";
}
.icon-quill:before {
  content: "\e909";
}
.icon-pen:before {
  content: "\e90a";
}
.icon-blog:before {
  content: "\e90b";
}
.icon-eyedropper:before {
  content: "\e90c";
}
.icon-droplet:before {
  content: "\e90d";
}
.icon-paint-format:before {
  content: "\e90e";
}
.icon-image:before {
  content: "\e90f";
}
.icon-images:before {
  content: "\e910";
}
.icon-camera:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-display:before {
  content: "\e956";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-users:before {
  content: "\e972";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
